<!-- confirm_delete.html -->
{% extends 'base.html' %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
<div class="confirmdelete">
    <h1>Are you sure you want to delete the task "{{ task.name }}"?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, delete</button>
        <a href="{% url 'show_my_tasks' %}">Cancel</a>
    </form>
</div>
{% endblock %}
