<!-- tasks/templates/tasks/create_task.html -->
{% extends 'base.html' %}

{% block title %}Create a new task{% endblock %}

{% block content %}

<div class="task-form">
    <h1>Create a new task</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
</div>
{% endblock %}
