<!-- show_my_tasks.html -->
{% extends 'base.html' %}

{% block title %}My Tasks{% endblock %}

{% block content %}

<div class="my-tasks-list">
    <h1>My Tasks</h1>
    <p><a href="{% url 'create_task' %}">Create a new task</a></p>
    {% if tasks %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Project</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                    <th>Countdown</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.project.name }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                        <td>
                            {% if task.countdown > 0 %}
                                <span class="countdown" data-seconds="{{ task.countdown }}"></span>
                            {% else %}
                                Task is overdue
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'delete_task' task.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have no tasks</p>
    {% endif %}
</div>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    function updateCountdown(element, seconds) {
        let hours = Math.floor(seconds / 3600);
        let minutes = Math.floor((seconds % 3600) / 60);
        let secs = Math.floor(seconds % 60);

        element.innerHTML = `${hours}h ${minutes}m ${secs}s`;

        if (seconds > 0) {
            setTimeout(() => {
                updateCountdown(element, seconds - 1);
            }, 1000);
        } else {
            element.innerHTML = "Task is overdue";
        }
    }

    document.querySelectorAll('.countdown').forEach(element => {
        let seconds = parseInt(element.getAttribute('data-seconds'), 10);
        updateCountdown(element, seconds);
    });
});
</script>

{% endblock %}
