<!-- projects/templates/projects/create_project.html -->
{% extends 'base.html' %}

{% block title %}Create a new project{% endblock %}

{% block content %}

<div class="project-form">
    <h1>Create a new project</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
</div>
{% endblock %}
