<!-- projects/templates/projects/list_projects.html -->
{% extends 'base.html' %}

{% block title %}My Projects{% endblock %}

{% block content %}

<div class="project-list">
    <h1>My Projects</h1>
    <a href="{% url 'create_project' %}">Create a new project</a>

    {% if projects %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                        <td>{{ project.tasks.count }}</td>
                        <td>
                            <a href="{% url 'delete_project' project.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You are not assigned to any projects</p>
    {% endif %}
</div>
{% endblock %}
